.contato {
  background: #000;
  padding-top: 20px;
  padding-bottom: 50px;
  height: auto;
}


.contato h1 {
  color: #fff;
  text-align: center;
  display: block;
  padding: 20px;
  font-size: 3rem;
  text-transform: uppercase;
  cursor: pointer;
}



.contato-grid {
  display: block;
}

.contato-descricao {
  display: block;
  text-align: center;  
  color: #fff;
  padding: 20px;
  line-height: 1.5;
  font-size: 2rem;
}

.contato-redes {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 80%;
  justify-content: center;
  margin: auto;
}
.contato-redes .redes-titulo {
    display: none;
  }

  

.redes-sociais {
  display: block;
  text-align: center;
  font-size: 1.5rem;  
  color: #fff;
}

.redes-sociais img {
  width: 20px;
}


.contato-redes .redes-titulo {
  text-align: center;
  color: #fff;
  padding: 10px 10px 10px 10px;
  border-bottom: 2px solid #7a3ec5;
  text-transform: uppercase;
}

.contato-redes .redes {
  display: flex;
  margin: auto;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}



.contato-redes .redes img {
  display: block;
  margin: auto;
  width: 40px;
  max-width: 40px;
}



.redes div {
  padding: 10px;
}



@media (max-width: 850px) {
  .contato-grid {
    display: block;
  }

  .contato-descricao {
    display: block;
    text-align: center;
    margin: auto;
    padding: 30px;
    line-height: 1.6;
    font-size: 1.5rem;
  }
  

  .contato-redes {
    display: block;
    padding: 20px;
    margin: auto;
    width: 50%;
  }
}



@media (max-width: 790px) {
  .contato {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  
  .contato-redes {
    background: none;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }

  .contato-redes .redes-titulo {
    display: none;
  }

  .contato-redes .redes {
    display: flex;
    margin: auto;
  }

  .contato-redes .redes img {
    width: 40px;
    max-width: 40px;
  }

  .redes-sociais {
    display: block;
    text-align: center;
  }

  .redes-sociais img {
    width: 20px;
  }

  .contato-descricao {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px){
  .contato h1{
    font-size: 1.6rem;
  }
}
