@import "arquivos_css/header.css";
@import "arquivos_css/inicio.css";
@import "arquivos_css/sobre.css";
@import "arquivos_css/habilidades.css";
@import "arquivos_css/projetos.css";
@import "arquivos_css/contato.css";
@import "arquivos_css/footer.css";

* {
  margin: 0;
  padding: 0;
  font-family: monospace, Helvetica, sans-serif;
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}
.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
