.habilidades {
  background-color: #34344e;
  padding: 20px;
  max-width: 100%;
  position: relative;
  max-height: auto;
}

.habilidades h1 {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 3.75rem;
}

.habilidades .habilidades-tecnologias {
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
  justify-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.habilidades .habilidades-tecnologias div:hover {
  background-color: #34344e;
}

.habilidades .habilidades-tecnologias div {
  color: #fff;
  background-color: #566981;
  width: 50%;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  border: 5px solid #fff;
}

@media (max-width: 930px) {
  .habilidades h1 {
    font-size: 3rem;
  }
}

@media (max-width: 870px) {
  .habilidades h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 770px) {
  .habilidades .habilidades-tecnologias {
    display: flex;
    flex-wrap: wrap;
    transition: 0;
  }

  .habilidades .habilidades-tecnologias div:hover {
    background-color: #566981;
  }

  .habilidades .habilidades-tecnologias div {
    width: 30%;
  }
}

@media (max-width: 650px) {
  .habilidades h1 {
    display: block;
    margin: 20px auto;
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .habilidades .habilidades-tecnologias {
    max-width: 100%;
  }
  .habilidades .habilidades-tecnologias div {
    font-size: 0.8rem;
  }

  .habilidades .habilidades-tecnologias div {
    width: 30%;
  }
}
